<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @travel.date %>
</p>

<p>
  <b>From:</b>
  <%= @travel.from %>
</p>

<p>
  <b>To:</b>
  <%= @travel.to %>
</p>

<p>
  <b>Cost:</b>
  <%= @travel.cost %>
</p>


<%= link_to 'Edit', edit_travel_path(@travel) %> |
<%= link_to 'Back', travels_path %>
