<%= form_for(@travel_log) do |f| %>
  <% if @travel_log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@travel_log.errors.count, "error") %> prohibited this travel_log from being saved:</h2>

      <ul>
      <% @travel_log.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </div>
  <div class="field">
    <%= f.label :travel %><br />
    <%= f.text_field :travel %>
  </div>
  <div class="field">
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
