<h1>Listing travel_logs</h1>

<table>
  <tr>
    <th>User</th>
    <th>Travel</th>
    <th>Type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @travel_logs.each do |travel_log| %>
  <tr>
    <td><%= travel_log.user %></td>
    <td><%= travel_log.travel %></td>
    <td><%= travel_log.type %></td>
    <td><%= link_to 'Show', travel_log %></td>
    <td><%= link_to 'Edit', edit_travel_log_path(travel_log) %></td>
    <td><%= link_to 'Destroy', travel_log, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Travel log', new_travel_log_path %>
