<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @travel_log.user %>
</p>

<p>
  <b>Travel:</b>
  <%= @travel_log.travel %>
</p>

<p>
  <b>Type:</b>
  <%= @travel_log.type %>
</p>


<%= link_to 'Edit', edit_travel_log_path(@travel_log) %> |
<%= link_to 'Back', travel_logs_path %>
